.topbox {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
  
    img {
      width: 100%;
      height: 100%;
    }
  }
  
  .main {
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  
    .left, .center, .right {
      width: 360px;
      margin-left: 5px;
      height: 300px;
    }
  
    .center, .right {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  
    .left {
      span {
        width: 150px;
        height: 36px;
        background-color: rgb(214, 214, 214);
        border-left: 4px solid rgb(124, 124, 124);
        padding-left: 10px;
      }
  
      h4 {
        width: 275px;
        line-height: 40px;
        font-size: 33px;
        margin-top: 20px;
      }
    }
  
    .center {
      .top, .bot {
        width: 100%;
        height: 110px;
        border-left: 1px solid #ccc;
  
        p {
          width: 250px;
          height: 100%;
          font-size: 26px;
          margin-left: 20px;
        }
      }
    }
  
    .right {
      .top, .bot {
        width: 100%;
        height: 110px;
        border-left: 1px solid #ccc;
  
        p {
          width: 350px;
          height: 100%;
          font-size: 26px;
          margin-left: 20px;
        }
      }
    }
  }
  
  .imgbox {
    height: 560px;
    background-color: antiquewhite;
  
    img {
      width: 100%;
      height: 100%;
    }
  }

  @media screen and (max-width: 1024px) {
    .main {
        width: 100%;
      }
    
      .imgbox {
        margin-top: 30px;
        height: 560px;
        background-image: url('../../public/images/team.png');
        background-position: center;
        background-size: cover;
    
        img {
          display: none;
        }
      }

      .topbox {
        width: 100%;
        transition: ease 1s;
        background-image: url('../../public/images/banner.png');
        background-size: cover;
        background-position: center;
        height: 400px;
        background-repeat: no-repeat;
      }
  }