* {
    padding: 0;
    margin: 0;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
  li {
    list-style: none;
  }
  
  .w {
    width: 1100px;
    margin: 0 auto;
  }
  
  .topnav {
    width: 100%;
    height: 80px;
  
    .nav {
      position: relative;
      height: 100%;
  
      .topright {
        width: 200px;
        height: 35px;
        position: absolute;
        right: -190px;
        top: 25px;
  
        img {
          width: 38px;
          height: 100%;
          margin: 0 20px;
        }
      }
  
      img {
        width: 260px;
        height: 50px;
        margin-top: 15px;
        float: left;
      }
  
      ul {
        width: 455px;
        height: 30px;
        float: right;
        margin-top: 25px;
  
        li {
          float: left;
          margin-left: 80px;
          line-height: 30px;
  
          a {
            color: black;
            font-size: 20px;
          }
        }
      }
    }
  }
  
  header {
    width: 100vw;
  }
  
  nav {
    box-sizing: border-box;
    max-width: 1920px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    position: relative;

    .nav-menu-img {
      display: none;
    }
  
    a {
      color: #000;
    }
  
    .nav-left {
      margin-right: 30px;
  
      img {
        max-width: 260px;
        max-height: 50px;
      }
    }
  
    .nav-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      > ul {
        display: flex;
        list-style: none;
  
        > li > a {
          font-size: 20px;
          display: inline-block;
          padding: 0 15px;
        }
      }
  
      label[for="nav-checkbox"] {
        display: none;
      }
  
      .topright {
        width: 200px;
        height: 35px;
        flex-shrink: 0;
  
        img {
          width: 38px;
          height: 100%;
          margin: 0 20px;
        }
      }
    }
  
    @media (max-width: 920px) {
      height: 60px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .nav-menu-img {
        width: 32px;
        margin-right: 16px;
        display: block;
      }

      .nav-right {
        width: 100%;
      }
  
      .nav-left, .nav-right {
        text-align: left;
  
        img {
          max-width: 220px;
          max-height: 40px;
        }
  
        .topright {
          margin: 15px 0;
        }
      }
    }
  }
  
  footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }


  .endnav {
    position: relative;
    max-width: 1920px;
    padding: 20px 90px;
    background-color: #032D5F;
    box-sizing: border-box;

    .endNav_lef {
        display: flex;
        align-items: center;
    }

    ul {
        width: 90px;
        height: 80px;
        margin: 0 12px;

        li {
            width: 100%;
            height: 19px;
            margin-bottom: 20px;

            a {
                color: white;
                font-size: 19px;
            }
        }
    }

    .right {
        max-width: 340px;
        height: 100%;
        img {
          width: 70px;
        }
    }
}

@media screen and (max-width: 920px) {
  .w {
    width: 100%;
  }
  nav {
    flex-wrap: wrap;
    justify-content: space-between;

    label[for="nav-checkbox"] {
      display: block;
      width: 50px;
      height: 40px;
      font-size: 40px;
      display: flex;
      margin-right: 10px;
      justify-content: center;
      align-items: center;
      border: rgb(173, 173, 173) 2px solid;
      color: rgb(173, 173, 173);
      border-radius: 4px;
    }

    .nav-left {
      margin: 0;
    }

    .nav-right {
      position: absolute;
      top: 80px;
      z-index: 111111;
      display: none;
      flex: 0 0 100%;
      width: 100%;
      flex-direction: column;
      justify-content: initial;
      align-items: initial;
      background-color: white;
      text-indent: 1em;
      padding-bottom: 20px;

      > ul {
        flex-direction: column;
      }

      > ul > li > a {
        width: 100%;
        padding: 15px 0;
      }

      #nav-checkbox:checked ~ & {
        display: flex;
      }
    }
  }

  .endnav {
    padding: 20px 16px;
    &>div {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  
}

.text-white {
  color: white
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: end;
}
.flex-wrap {
  flex-wrap: wrap;
}
.ml-md {
  margin-left: 16px;
}
.mr-md {
  margin-right: 16px;
}
.mt-md {
  margin-top: 16px;
}
.text-center {
  text-align: center;
}