*{
    padding: 0;
    margin: 0;
}
.w{
    max-width: 1100px;
    margin: 0 auto;
}
li{
    list-style: none;
}
.topimg{
    height: 200px;
    background-image: linear-gradient(to right, #032D5F, rgb(255, 255, 255));
}
.topimg h1{
    color: white;
    margin-left: 90px;
    padding-top: 24px;
    font-size: 34px;
}
.mainbox{
    display: flex;  
    justify-content: center;  
    align-items: center;
    width: 865px;
    height: 530px;
    background-color: rgb(223, 223, 223);
    margin-bottom: 80px;
}
.mainbox .main{
    width: 630px;
    height: 385px;
    /* background-color: rgb(128, 128, 128); */
}
.main .top{
    width: 100%;
    height: 80px;
    margin-bottom: 60px;
}
.main .top div{
    width: 260px;
    background-color: #032D5F;
    height: 100%;
    line-height: 80px;
    text-align: center;
    font-size: 19px;
    color: white;
}

.top .left{
    float: left;
}
.top .right{
    float: right;
}

@media screen and (max-width:920px){
	.mainbox{
		width: 100%;
	}
	.mainbox .main .top{
		display: grid;
		grid-template-columns: repeat(1,1fr);
	}
	.mainbox .main .top div{
		width: 95%;
		margin: auto;
	}
	.mainbox .main .top a{
		display: flex;
	}
}