*{
    padding: 0;
    margin: 0;
}
.w{
    width: 1100px;
    margin: 0 auto;
}
li{
    list-style: none;
}
.topnav{
    width: 100%;
    height: 80px;
    /* background-color: antiquewhite; */
}
.topnav .nav{
    position: relative;
    height: 100%;
    /* background-color: aliceblue; */
}
.nav .topright{
    width: 200px;
    height:35px;
    /* background-color: #032D5F; */
    position: absolute;
    right: -190px;
    top: 25px;
}
.nav .topright img{
    width: 38px;
    height: 100%;
    margin: 0 20px;
}
.nav img{
    width: 260px;
    height: 50px;
    margin-top: 15px;
    float: left;
}
.nav ul{
    width: 455px;
    height: 30px;
    /* background-color: rgb(97, 97, 97); */
    float: right;
    margin-top: 25px;
}
.nav ul li{
    float: left;
    margin-left: 80px;
    line-height: 30px;
}
.nav ul li a{
    color: black;
    font-size: 20px;
}
.topbox{
    width: 100%;
    height: 400px;
    /* background-color: antiquewhite; */
}
.topbox img{
    width: 100%;
    height: 100%;
}
.main{
    /* background-color: aqua; */
	margin: auto;
	margin-top: 50px;
    /* float: left; */
	display: flex;
	flex-wrap: wrap;
}
.main .left,.center,.right{
    width: 360px;
    margin-left: 5px;
    height: 300px;
}
.main .center,.right{
	display: grid;
	grid-template-columns: repeat(1,1fr);
}
.left span{
    width: 150px;
    height: 36px;
    background-color: rgb(214, 214, 214);
    border-left: 4px solid rgb(124, 124, 124);
    padding-left: 10px;
}
.left h4{
    width: 275px;
    line-height: 40px;
    font-size: 33px;
    margin-top: 20px;
}
.center .top{
    width: 100%;
    height: 110px;
    /* background-color: antiquewhite; */
    border-left: 1px solid #ccc;
}
.center .bot{
    width: 100%;
    height: 110px;
    /* background-color: antiquewhite; */
    border-left: 1px solid #ccc;
}
.center .top p{
    width: 250px;
    height: 100%;
    font-size: 26px;
    margin-left: 20px;
}
.center .bot p{
    width: 250px;
    height: 100%;
    font-size: 26px;
    margin-left: 20px;
}
.right .top{
    width: 100%;
    height: 110px;
    border-left: 1px solid #ccc;
}
.right .bot{
    width: 100%;
    height: 110px;
    border-left: 1px solid #ccc;
}
.right .top p{
    width: 350px;
    height: 100%;
    font-size: 26px;
    margin-left: 20px;
}
.right .bot p{
    width: 350px;
    height: 100%;
    font-size: 26px;
    margin-left: 20px;
}
.imgbox{
    margin-top: 30px;
    height: 560px;
    background-color: antiquewhite;
}
.imgbox img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:1024px){
	.main{
		width: 100%;
	}
	.imgbox{
	    margin-top: 30px;
	    height: 560px;
		background-image: url('../img/348664679_206331955557887_4758714532432275451_n.png');
		background-position: center;
		background-size: cover;
	}
	.imgbox img{
		display: none;
	}
}