*{
	margin: 0%;
	padding: 0;
}
body,html{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
/* header */
header {
    width: 100vw;
}

nav {
    box-sizing: border-box;
    max-width: 1100px;
	height: 80px;
    display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
}

nav a {
	color: #000;
}

.nav-left {
    margin-right: 30px;
    /* background-color: darkcyan; */
} 
.nav-left img{
	max-width: 260px;
	max-height: 50px;
}
.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right>ul {
    display: flex;
    list-style: none;
}

.nav-right>ul>li>a {
    font-size: 20px;
    display: inline-block;
    padding: 0 15px;
}

label[for="nav-checkbox"] {
    display: none;
}
.nav-right .topright{
    width: 200px;
    height:35px;
    /* background-color: #032D5F; */
}

.nav-right .topright img{
    width: 38px;
    height: 100%;
    margin: 0 20px;
}
#nav-checkbox {
    width: 0;
    height: 0;
	display: none;
}
@media screen and (max-width: 1024px) {
    nav {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    label[for="nav-checkbox"] {
        display: blovk;
        /* background-color: darkmagenta; */
        width: 50px;
        height: 40px;
        font-size: 40px;
        display: flex;
		margin-right: 10px;
		justify-content: center;
        align-items: center;
        border: rgb(173, 173, 173) 2px solid;
        color: rgb(173, 173, 173);
        border-radius: 4px;
    }
    .nav-left {
        margin: 0;
		margin-left: 10px;
    }

    .nav-right {
		position: absolute;
		top: 80px;
		z-index: 111111;
        display: none;
        flex: 0 0 100%;
        width: 100%;
        flex-direction: column;
        justify-content: initial;
        align-items: initial;
		background-color: white;
		text-indent: 1em;
		padding-bottom: 20px;
    }

    .nav-right>ul {
        flex-direction: column;
    }

    .nav-right>ul>li>a {
        /* background-color: rgb(153, 57, 57); */
        width: 100%;
        padding: 15px 0;
    }

    #nav-checkbox:checked ~ .nav-right {
        display: flex;
    }
}

/* footer */
.endnav{
    position: relative;
    width: 100%;
    min-height: 100px;
	padding: 20px 0;
    background-color: #032D5F;
	display: flex;
	justify-content: space-between;
}
.endnav .endNav_lef{
	display: flex;
	align-items: center;
}
.endnav ul{
	margin-left: 90px;
    width: 90px;
    height: 80px;
}
.endnav ul li{
    width: 100%;
    height: 19px;
    margin-top: 20px;
}
.endnav ul li a{
    color: white;
    font-size: 19px;
}
.endnav .p{
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
    display: flex;
	align-items: flex-end;
    text-align: center;
    color: white;
}

.endnav .right{
	max-width: 340px;
    height: 100%;
}
.right img{
    width: 70px;
    height: 70px;
    margin-top: 10px;
    float: left;
}
.right .p1{
    display: block;
    float: left;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-left: 13px;
    width: 250px;
}
.right .p2{
    display: block;
    float: left;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-left: 13px;
    width: 250px;
}

@media screen and (max-width:1024px){
	.nav{
		width: 95%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.topbox{
		width: 100%;
		transition: ease 1s;
		background-image: url('../img/banner.png');
		background-size: cover;
		background-position: center;
		margin-bottom: 30px;
	}
	.topimg{
		height: auto;
		padding: 10px 0;
	}
	.topimg h1{
		font-size: 1rem;
		margin-left: 10px;
	}
	.topbox img{
		display: none;
	}
	.endnav{
		height: auto;
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(1,1fr);
	}
	.endnav ul{
		margin-left: 0;
	}
	.endnav .endNav_lef{
		justify-content: center;
	}
	.endnav .p{
		position: relative;
		margin: auto;
		left: 0;
		transform: none;
	}
	.endnav .right{
		margin: auto;
	}
	.right_txt{
		display: grid;
		grid-template-columns: repeat(1,1fr);
	}
	.right_txt .p1,.right_txt .p2{
		width: auto;
	}
}